#1. Task: Assign the following values to variables and print them. Then, identify and print
the data type of each variable.

o age with a value of 21 (integer)

o height with a value of 5.9 (float)

o name with a value of &quot;Alice&quot; (string)

o is_student with a value of False (boolean)

In [33]:
age=21
print(type(age))
height=5.9
print(type(height))
name="Alice"
print(type(name))
is_student=False
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#Lab Task 2: Variable Operations
2. Task: Create the following variables with given values. Perform the specified operations
and print the results:

o x with a value of 10 (integer)

o y with a value of 3 (integer)

o a with a value of 4.5 (float)

o b with a value of 2.5 (float)

o Calculate and print the sum,
difference, product, and quotient of x and y.

o Calculate and print the average of a and b.

In [34]:
x=10
print(x)
y=3
print(y)
a=4.5
print(a)
b=2.5
print(b)
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print((a+b)/2)

10
3
4.5
2.5
13
7
30
3.3333333333333335
3.5

#Lab Task 3: String Operations
3. Task: Given the following variables, perform string operations and print the results:

o first_name with a value of &quot;John&quot;

o last_name with a value of &quot;Doe&quot;

o Concatenate first_name and last_name with a space in between and print the
full name.

o Print the length of full_name.

o Convert full_name to uppercase and print it.

In [35]:
first_name="John"
print(first_name)
last_name="Doe"
print(last_name)
full_name=first_name+" "+last_name
print(full_name)
print(len(full_name))
print(full_name.upper())

John
Doe
John Doe
8
JOHN DOE

#Lab Task 4: Boolean Logic
4. Task: Assign values to the following variables and evaluate the Boolean expressions.
Print the results.

o is_raining with a value of True

o is_sunny with a value of False

o temperature with a value of 25 (integer)

o Check and print whether is_raining is True and is_sunny is False.

o Check and print whether the temperature is greater than 20 and is_sunny is True.

In [36]:
is_raining=True
print(is_raining)
is_sunny=False
print(is_sunny)
temperature=25
print(is_raining and is_sunny)
print(temperature>20 and is_sunny)

True
False
False
False

#Lab Task 5: Type Conversion
3. Task: Convert the following variables into different data types and print the results.

o Convert an integer to a float.

o Convert a float to an integer.

o Convert a string representing a number to an integer.

o Convert a string representing a number to a float.

In [37]:
a= 10
print(type(a))
a=float(a)
print(type(a))
b= 10.5
print(type(b))
b=int(b)
print(type(b))
c="25"
print(type(c))
c=int(c)
print(type(c))
d="10.5"
print(type(d))
d=float(d)
print(type(d))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

#Lab Task 6: Type Checking
2. Task: Write a program that takes a variable and prints out its type using the type()
function.

var = 42

var = 3.14

var = &quot;Data Science

var = False print(type(var))

In [38]:
var=42
print(type(var))
var=3.14
print(type(var))
var="Data Science"
print(type(var))
var=False
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#Lab Task 7: Basic Variable Assignment
1. Task: Assign the following values to variables and print them.

o An integer value of 25.

o A float value of 3.14.

o A string value &quot;Hello, Python!&quot;.

o A boolean value True.

In [39]:
a=25
print(a)
b=3.14
print(b)
c="Hello, Python!"
print(c)
d=True
print(d)

25
3.14
Hello, Python!
True